<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_6c92f59e7b13576225df441b464ba290 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_6c92f59e7b13576225df441b464ba290" ></div>
        
</body>
<script>
    
    
            var map_6c92f59e7b13576225df441b464ba290 = L.map(
                "map_6c92f59e7b13576225df441b464ba290",
                {
                    center: [32.7266, 74.857],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 8,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_f3d29bc99b75865f545e2ad116214e47 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_f3d29bc99b75865f545e2ad116214e47.addTo(map_6c92f59e7b13576225df441b464ba290);
        
    
            var poly_line_4c9af993d0898568f50d37d9cdcf290f = L.polyline(
                [[32.7266, 74.857], [32.755, 74.8731], [32.6772, 74.8211], [32.9, 75.2], [33.05, 75.35], [33.41, 75.52]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.6, "smoothFactor": 1.0, "stroke": true, "weight": 2.5}
            ).addTo(map_6c92f59e7b13576225df441b464ba290);
        
    
            var circle_marker_f594bacfd41c3b6056137e004425ba24 = L.circleMarker(
                [32.7266, 74.857],
                {"bubblingMouseEvents": true, "color": "#08fa6d", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#08fa6d", "fillOpacity": 0.9, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_6c92f59e7b13576225df441b464ba290);
        
    
            var circle_marker_375a98b3e0d1ef1e2fffe9a46f6272d5 = L.circleMarker(
                [32.755, 74.8731],
                {"bubblingMouseEvents": true, "color": "#08fa6d", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#08fa6d", "fillOpacity": 0.9, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_6c92f59e7b13576225df441b464ba290);
        
    
            var circle_marker_d9ed8bbb5750d84b248dc5c0f25732fd = L.circleMarker(
                [32.6772, 74.8211],
                {"bubblingMouseEvents": true, "color": "#08fa6d", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#08fa6d", "fillOpacity": 0.9, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_6c92f59e7b13576225df441b464ba290);
        
    
            var circle_marker_ce97358ded3019831f8e925477445c7a = L.circleMarker(
                [32.2, 75.1],
                {"bubblingMouseEvents": true, "color": "#e94560", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#e94560", "fillOpacity": 0.9, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_6c92f59e7b13576225df441b464ba290);
        
    
            var circle_marker_841beb9c0a9bd4426b91c17997b81042 = L.circleMarker(
                [32.9, 75.2],
                {"bubblingMouseEvents": true, "color": "#08fa6d", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#08fa6d", "fillOpacity": 0.9, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_6c92f59e7b13576225df441b464ba290);
        
    
            var circle_marker_c03321d26731384a26a032286eefc8a2 = L.circleMarker(
                [33.05, 75.35],
                {"bubblingMouseEvents": true, "color": "#08fa6d", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#08fa6d", "fillOpacity": 0.9, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_6c92f59e7b13576225df441b464ba290);
        
    
            var circle_marker_9aa43b83ca30dddcdf14ed9f7369128d = L.circleMarker(
                [33.41, 75.52],
                {"bubblingMouseEvents": true, "color": "#08fa6d", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#08fa6d", "fillOpacity": 0.9, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_6c92f59e7b13576225df441b464ba290);
        
    
            var circle_marker_3d8dbbaf8a3e4cedb14dff393ebc40fc = L.circleMarker(
                [32.7266, 74.857],
                {"bubblingMouseEvents": true, "color": "#08fa6d", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#08fa6d", "fillOpacity": 0.9, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_6c92f59e7b13576225df441b464ba290);
        
    
            var circle_marker_e8fb622e189247fd1acb813b691462e0 = L.circleMarker(
                [32.755, 74.8731],
                {"bubblingMouseEvents": true, "color": "#08fa6d", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#08fa6d", "fillOpacity": 0.9, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_6c92f59e7b13576225df441b464ba290);
        
    
            var circle_marker_2ac3489b8f613ab749d2402b8bb37b27 = L.circleMarker(
                [32.6772, 74.8211],
                {"bubblingMouseEvents": true, "color": "#08fa6d", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#08fa6d", "fillOpacity": 0.9, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            ).addTo(map_6c92f59e7b13576225df441b464ba290);
        
</script>
</html>